<!DOCTYPE html>
<html>
<head>
  <title>CodeClan Table Tennis</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Table Tennis</h1>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>